<!DOCTYPE html>
<html>
  <head>
    <style>
      @media screen and (max-width: 540px) {
        .dpad {
          padding-left: 32px !important;
          padding-right: 32px !important;
        }
      }
      @media screen and (max-width: 480px) {
        .dpad {
          padding-left: 12px !important;
          padding-right: 12px !important;
        }
      }
    </style>
  </head>
  <body>
    <div style="color: #000000; font-family: sans-serif">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr style="height: 64px">
          <td></td>
          <td width="480">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td
                  style="
                    font-size: 18pt;
                    padding-left: 20px;
                    text-align: right;
                    font-weight: 700;
                    color: #6b777f;
                  "
                >
                  DDNet
                </td>
                <td width="160">
                  <div
                    style="
                      float: right;
                      width: 160px;
                      height: 64px;
                      margin-right: 25px;
                      background-image: url('https://ddnet.org/email/b1.png');
                      background-size: 100%;
                    "
                  ></div>
                </td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr>
          <td
            style="
              background-image: url('https://ddnet.org/email/b3.png');
              background-repeat: no-repeat;
              background-size: 128px;
              background-position: 100%;
            "
          ></td>
          <td
            class="dpad"
            width="480"
            style="
              padding-left: 64px;
              padding-right: 64px;
              background-color: #f6fbff;
              border: 1px solid #d8efff;
              border-radius: 7px;
              margin-top: 63px;
              padding-bottom: 32px;
              padding-top: 32px;
              width: 480px;
            "
            bgcolor="#f6fbff"
          >
            <div>
              Hello %SUBJECT%,
              <br /><br />
              <b>please use the following code to verify your action:</b>
              <br /><br />
              <code
                style="
                  font-family: monospace;
                  background: #d8efff;
                  border-radius: 5px;
                  padding: 7px 24px;
                  word-break: break-all;
                  user-select: all;
                "
                >%CODE%
              </code>
              <br />
              <i
                style="
                  font-size: 10px;
                "
              >This code is valid for ~15 minutes.</i>
              <br /><br /><br /><br />
              <b>If this wasn't you</b>, you can safely ignore this e-mail.
              <br />
              Don't share this code with anyone, or else you might lose your account.
            </div>
          </td>
          <td></td>
        </tr>
        <tr style="height: 24px"></tr>
        <tr>
          <td></td>
          <td
            class="dpad"
            style="
              padding-left: 64px;
              padding-right: 64px;
              background-color: #d8efff;
              border-radius: 7px;
              width: 480px;
            "
            width="480"
            bgcolor="#d8efff"
          >
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width: 96px; height: 96px; overflow: hidden">
                  <div
                    style="
                      background-image: url('https://ddnet.org/email/a.png');
                      background-size: 100%;
                      width: 86px;
                      height: 63px;
                    "
                  ></div>
                </td>
                <td>
                  DDraceNetwork is a free cooperative platformer game.
                  <br />
                  Visit our
                  <a
                    class="l"
                    href="https://ddnet.org/"
                    style="color: #aa4444; text-decoration: none"
                    >Website</a
                  >
                  for more information.
                </td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr style="height: 128px">
          <td></td>
          <td width="480">
            <div
              style="
                float: right;
                width: 128px;
                height: 128px;
                margin-right: 250px;
                background-image: url('https://ddnet.org/email/b2.png');
                background-size: 100%;
              "
            ></div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </body>
</html>
